{% extends 'main2.html' %}
{% block content %}
{% load static %}
<style>
    .home_container{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .profile{
        margin-top: 5%;
    }
    .card {
        background-color:#71c6dd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        border-radius: 1rem;
        color: black;
    }
    .card-engage{
        margin-top: 10%;
    }
    .card-room{
        margin-top: 3%;
    }
    .engagement-text {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .bold-16 {
        font-weight: bold;
        font-size: 3rem;
    }
    .analysis{
        margin-left: 2%;
    }
    .top-analysis{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .card-analysis{
        background-color: #696d97;
        color: white;
    }
    .bottom-analysis{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
</style>
<div class="home_container">
    <div class="profile">
        <div class="profile__avatar">
          <div class="avatar avatar--large active">
            <img src="{% static 'images\icon.jpg' %}" />
          </div>
        </div>
        <div class="profile__info">
          <h3>{{user.username}}</h3>
          <p>@{{user.username}}</p>
        </div>
        <div class="card card-engage">
            <div class="engagement-text">Total Engagement:</div>
            <div class="bold-16">{{total_participants_count}}</div>
            <div class="desc">the total students in all post </div>
        </div>
        <div class="card card-room">
            <div class="engagement-text">Total Rooms Created:</div>
            <div class="bold-16">{{total_rooms_count}}</div>
            <div class="desc">the total rooms by host </div>
        </div>
      </div>
      <div class="analysis">
        <div class="top-analysis">
            <div class="card card-room card-analysis">
                <div class="engagement-text">Room with the maximum participants:</div>
                <div class="bold-16">{{room_with_max_participants_name}}</div>
            </div>
            <div class="card card-room card-analysis">
                <div class="engagement-text">Topic with the maximum participants:</div>
                <div class="bold-16">{{topic_of_max_participants}}</div>
            </div>
        </div>
        <div class="graphs">
            <canvas id="bar-chart" style="background-color: #71c6dd;margin-top: 2%;padding: 2rem;border-radius: 1rem;color: white;"></canvas>
        </div>
        <div class="bottom-analysis">
            <div class="card card-room card-analysis">
                <div class="engagement-text">Average number of participants:</div>
                <div class="bold-16">{{average_participants_per_room}}</div>
            </div>
            <div class="card card-room card-analysis">
                <div class="engagement-text">Longest Running class:</div>
                <div class="bold-16">{{longest_running_room}}</div>
            </div>
        </div>
        
      </div>

     
</div>
{% include 'base/footer.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    
// Prepare data for Chart.js
var config = {
    type: 'bar',  // Change type to 'bar' for a bar graph
    data: {
      datasets: [{
        data: {{total_participants_topic|safe}},
        backgroundColor: '#696d97',
        borderColor: 'rgba(75, 192, 192, 1)',
        label: 'Participants'
      }],
      labels: {{ topic_names|safe }}
    },
    options: {
      responsive: true,
      scales: {
        x: {
          type: 'category', // Use 'category' scale for labels on the x-axis
          title: {
            display: true,
            text: 'Topics'  // Customize the x-axis title
          }
        },
        y: {
          beginAtZero: true,
          title: {
            display: true,
            text: 'Number of Participants' ,
            color: 'white'  // Customize the y-axis title
          }
        }
      }
    }
  };
  
  window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myBar = new Chart(ctx, config);
  };
</script>

{% endblock content %}