<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<main>
    <div class="app-footer">

    
    <div class="footer">
        <i class="fa fa-copyright"></i><span>Copyrights are Reserved to the group members</span>
    </div>
    <hr>
    <div class="footer-content">
        <div class="main-content">
            <h1>
                Team Members
            </h1>
            <ul>
                <li>Atharva Kadam</li>
                <li>Dhruvi Mehta</li>
                <li>Dushyant Pande</li>
                <li>Aayushi Trivedi</li>
            </ul>
        </div>
        <div class="main-content">
            <h1>
                Social
            </h1>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Reddit</li>
                <li>Instagram</li>
            </ul>
        </div>
        <div class="main-content">
            <h1>
                Services
            </h1>
            <ul>
                <li>Blog</li>
                <li>About us</li>
                <li>Newsletter</li>
                <li>Daily Updates</li>
                <li>Course List</li>
                <li>Faculty</li>
            </ul>
        </div>
        <div class="main-content">
            <h1>
                Support
            </h1>
            <ul>
                <li>Help desk</li>
                <li>Email conversation</li>
                
            </ul>
        </div>
        
    </div>
</div>
</main>